<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/"><i class="fas fa-kiss-wink-heart"></i> MatchYa <span class="sr-only">(current)</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/signu"><i class="fas fa-user-plus"></i> Sign up </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signi"><i class="fas fa-sign-in-alt"></i> Sign in </a>
            </li>
        </ul>
        <div class="dropdown">
            <button class="dropbtn"><i class="fas fa-user-alt-slash"></i> Alternative Sites</button>
            <div class="dropdown-content">
                <a href="https://www.bearwww.com/">BearWWW >></a>
                <a href="https://www.gothicmatch.com/">Gothicmatch >></a>
                <a href="https://witchdating.com/">Witchating >></a>
                <a href="https://7orbetter.com/">7OrBetter >></a>
                <a href="https://www.seeking.com/">Seeking Arrangement >></a>
            </div>
        </div>
    </div>
</nav>