<div class="form-group">
    <select name="preference" class="form-control" id="exampleFormControlSelect1">
        <option>Notifications</option>
        <option>1</option>
        <option>2</option>
    </select>
</div>