<head>
    <% include ./default/head %>
</head>
<header>
    <% include ./default/header %>
</header>
<body>
    <% include ./forms/forgot %>
</body>
<footer class="page-footer font-small indigo" r>
    <% include ./default/footer %>
</footer>