<head>
  <% include ./default/head %>
</head>
<header>
  <% include ./default/header %>
</header>
<main>
  <div class="inside">
    <div class="insideTops">
      <div class="name">
        MatchYa
        <img src="https://icon-library.net/images/heart-icon-png-transparent/heart-icon-png-transparent-22.jpg" alt="hearth">
      </div>
    </div>
    <div class="insideUndTops">
      <div class="container">
        <h2>Happiness Awaits You!</h2>
        <div class="row">
          <div class="col-sm">
            <img src="./images/man-in-gray-coat-carrying-woman-wearing-pink-coat-in-beach-698885.jpg" alt="side1">
            <p class="txt">#Love</p>
          </div>
          <div class="col-sm">
            <img src="./images/matthew-fassnacht-prN1G8dUMm8-unsplash.jpg" alt="side2">
            <p class="txt">#Happiness</p>
          </div>
          <div class="col-sm">
            <img src="./images/nathan-mcbride-DEmPhCx7y8Q-unsplash.jpg" alt="side3">
            <p class="txt">#Belonging</p>
          </div>
          <div class="w-100"></div>
          <div class="col-sm">
            <img src="./images/hannah-cook-dqa2LjshmWY-unsplash.jpg" alt="side4">
            <p class="txt">#Cuddle</p>
          </div>
          <div class="col-sm">
            <img src="./images/jonas-weckschmied-950JJJW35ZY-unsplash.jpg" alt="side5">
            <p class="txt">#Cherish</p>
          </div>
          <div class="col-sm">
            <img src="./images/benjaminrobyn-jespersen-JAoTCIQBk1Q-unsplash.jpg" alt="side6">
            <p class="txt">#Play</p>
          </div>
        </div>
      </div>
    </div>
    <div class="insideBtn">
      <div class="row">
        <div class="col about">
          About Us:<br>
            What is the use of Lorem Ipsum?
            Lorem Ipsum: usage
            Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content. It's also called placeholder (or filler) text. It's a convenient tool for mock-ups.
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="page-footer font-small indigo" r>
  <% include ./default/footer %>
</footer>