<head>
  <% include ./default/head %>
</head>
<header>
  <% include ./default/header %>
</header>
<main>
  <div class="index">
    <img src="./images/4.png" alt="logo">
    <div class="dropdown">
      <button class="dropbtn">Other Sites!</button>
      <div class="dropdown-content">
        <a href="https://www.bearwww.com/">BearWWW >></a>
        <a href="https://www.gothicmatch.com/">Gothicmatch >></a>
        <a href="https://witchdating.com/">Witchating >></a>
        <a href="https://7orbetter.com/">7OrBetter >></a>
        <a href="https://www.seeking.com/">Seeking Arrangement >></a>
      </div>
    </div>
  </div>
</main>
<footer class="page-footer font-small indigo" r>
  <% include ./default/footer %>
</footer>