<head>
  <% include ./default/head %>
</head>
<header>
  <% include ./default/header %>
</header>
<main>
  <div class="index">
    <img src="./images/4.png" alt="logo">
  </div>
</main>
<footer class="page-footer font-small indigo" r>
  <% include ./default/footer %>
</footer>