<head>
  <% include ./default/head %>
</head>
<header>
  <% include ./default/header %>
</header>
<main>
  <div class="index">
    <img src="./images/picturetopeople.org-6a1f5638f3e8aab48433a81b63afea59c93c508a83f4c33d16.png" alt="logo">
  </div>
</main>
<footer class="page-footer font-small indigo" r>
  <% include ./default/footer %>
</footer>