<head>
    <% include ./default/head %>
</head>
<header>
    <% include ./default/profileHeader %>
</header>
<body>
    <% include ./partials/messages %>
    <% include ./forms/matches %>
</body>
<footer class="page-footer font-small indigo" r>
    <% include ./default/footer %>
</footer>