<head>
    <% include ./default/head %>
</head>
<header>
    <% include ./default/profileHeader %>
</header>

<body>
    <% include ./partials/messages %>
    <div class="mid">
        <div class="velkom">Welcome Back <%= user.username %>!</div>
    </div>
    <% include ./forms/userInfo %>
</body>
<footer class="page-footer font-small indigo" r>
    <% include ./default/footer %>
</footer>