body {
  background-color: maroon !important;
}
hr {
  background-color: maroon;
}
.navbar.navbar-expand-lg.navbar-light { 
  background-color: wheat;
  border-bottom: 2px solid white;
  padding: 0px 0px !important;
}
.navbar-brand {
  margin: 5px 10px 5px 10px !important;
  /* padding: 5px 5px !important; */
  color: maroon !important;
  font-weight: 600;
}
a.nav-link {
  padding: 6px 12px 6px 12px !important;
}
input.form-control.mr-sm-2 {
  padding: 6px 5px 6px 5px !important;
}
.form-inline {
  margin: 5px 10px 5px 10px !important;
}
.form-inline input[type="search"] {
  color: maroon !important;
}
.form-control.mr-sm-2 {
  margin: 5px 10px 5px 10px !important;
}
.nav-link {
  text-decoration: none !important;
  color: maroon !important;
  font-weight: 500;
}

/* Login form */
.modal-login {
  color: #636363;
  width: 350px;
}

.modal-login .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  /* margin: 500px 0px 100px 0px !important; */
}

.modal-login .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}

.modal-login h4 {
  text-align: center;
  font-size: 26px;
  color: maroon !important;
  margin: 30px 0 -15px;
}

.modal-login .form-control:focus {
  border-color: #70c5c0;
}

.modal-login .form-control,
.modal-login .btn {
  min-height: 40px;
  border-radius: 3px;
}

.modal-login .modal-footer {
  background: wheat;
  text-align: center;
  justify-content: center;
  margin: 0 -20px -20px;
  font-size: 13px;
}

.modal-login .modal-footer a {
  color: maroon;
}

.modal-login .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: wheat;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-login .avatar img {
  width: 100%;
}

.modal-login.modal-dialog {
  margin-top: 80px;
}

.modal-login .btn {
  color: maroon;
  border-radius: 4px;
  background: wheat;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}

.modal-login .btn:hover,
.modal-login .btn:focus {
  background: #45aba6;
  outline: none;
}

/**/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: wheat;
  text-align: center;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  border-top: 2px solid white;
}

.footer a {
  color: maroon;
  text-decoration: none;
}

.footer p {
  color: maroon;
}

/* Middle div on index page */
.index {
  width: 60%;
  padding: 10px 10px 10px 10px;
  position: absolute;
  top: 40%;
  left: 20%;
  background-color: wheat;
  border-top-left-radius: 1vmin;
  border-bottom-right-radius: 1vmin;
  box-shadow: 5px 5px 10px white;
}
.index > img {
  width: 100%;
}

/* Error and Success messages */
.msgx {
  width: 50%;
  margin: auto;
}

.profile {
  width: 100%;
  margin-top: 1vmin;
}

.col {
  font-weight: 100 !important;
}

.col.up {
  background-color: wheat !important;
  font-weight: 100;
  color: maroon;;
}

.col-md-12 {
  background-color: wheat;
  color: maroon;
  border-radius: 2px;
  border: 2px solid white;
  font-weight: bold;
  text-align: center;
}

.col-md-12 > img {
  width: 100%;
}

.col-md-6 {
  padding-bottom: 5px;
}

.btn.btn-danger {
  margin-bottom: 1%;
  margin-top: 1%;
}
.btn.btn-danger > a {
  text-decoration: none !important;
  color: wheat;
}