<option>#love</option>
<option>#family</option>
<option>#religion</option>
<option>#smile</option>
<option>#friends</option>
<option>#nature</option>
<option>#outdoors</option>
<option>#travel</option>
<option>#tourism</option>
<option>#food</option>
<option>#foodporn</option>
<option>#organic</option>
<option>#vegetarian</option>
<option>#vegan</option>
<option>#fashion</option>
<option>#style</option>
<option>#beautiful</option>
<option>#summer</option>
<option>#animals</option>
<option>#dogs</option>
<option>#cats</option>
<option>#innovation</option>
<option>#technology</option>
<option>#games</option>
<option>#fun</option>
<option>#art</option>
<option>#VR</option>
<option>#Ai</option>
<option>#graphics</option>
<option>#happy</option>
<option>#yoga</option>
<option>#fitness</option>
<option>#cute</option>
<option>#vegan</option>
<option>#geek</option>
<option>#piercing</option>
<option>#music</option>
<option>#rock</option>
<option>#other</option>