<div class="modal-dialog modal-login">
    <div class="modal-content">
        <div class="modal-header">
            <div class="avatar">
                <img src="https://png.pngtree.com/svg/20170518/account_898722.png" alt="Avatar">
            </div>
            <h4 class="modal-title">Welcome!</h4>
        </div>
        <div class="modal-body" style="text-align: center;">
            <form action="/signu" method="post" enctype="">
                <!-- <div class="form-group">
                    <input type="file" class="form-control" name="profile" placeholder="Profile Picure" required />
                </div> -->
                <div class="form-group">
                    <input type="text" class="form-control" name="firstname" placeholder="Name" required />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="lastname" placeholder="Surname" required />
                </div>
                <div class="form-group">
                    <select name="gender" class="form-control" id="exampleFormControlSelect1">
                        <option>Gender</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username" required />
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="age" placeholder="Age" required />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="email" required />
                </div>
                <div class="form-group">
                    <select name="preference" class="form-control" id="exampleFormControlSelect1">
                        <option>Sexual Preference</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="hobby" placeholder="Hobby" required/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="interest" placeholder="Interest" required/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="language" placeholder="Main Language" required/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="nationality" placeholder="nationality" required/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="countryOfResidence"
                        placeholder="Country Of Residence" required/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password" required />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="rpassword" placeholder="repeat Password"
                        required />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Register</button>
                </div>
            </form>
            <a href="/google" title="Google+" class="btn btn-googleplus btn-lg"><i class="fab fa-google-plus-g"></i>Google+</a>
        </div>
        <div class="modal-footer">
            <a href="/signi">Already have an account?</a>
        </div>
    </div>
</div>